@using Microsoft.AspNet.Identity
@model BlogWebsite.Models.Post

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=m1q7vm0skkqmhhq5yxlrzeeyaubshs0o5pmajkj4tlq482lh"></script>
<script>tinymce.init({
        selector: 'textarea',
        plugins: "codesample",
        codesample_languages: [
            { text: 'HTML/XML', value: 'markup' },
            { text: 'JavaScript', value: 'javascript' },
            { text: 'CSS', value: 'css' },
            { text: 'PHP', value: 'php' },
            { text: 'Ruby', value: 'ruby' },
            { text: 'Python', value: 'python' },
            { text: 'Java', value: 'java' },
            { text: 'C', value: 'c' },
            { text: 'C#', value: 'csharp' },
            { text: 'C++', value: 'cpp' }
        ],
        toolbar: 'codesample'
});</script>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="form-horizontal">
        <h4>Post</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Text, new { @style="width:500px"})
                @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control ", @Value = DateTime.Now.ToShortDateString() } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Author, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@{
                        BlogWebsite.Models.ApplicationUser _user;
                        using (var db = new BlogWebsite.Models.ApplicationDbContext())
                        {
                            var _username = User.Identity.GetUserName();
                            _user = db.Users.FirstOrDefault(uS => uS.UserName == _username);
                        }
                    }*@
                @Html.EditorFor(model => model.Author, new{htmlAttributes = new{@class = "form-control", @Value =User.Identity.Name, @readonly="readonly" }})
                @Html.ValidationMessageFor(model => model.Author, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-sm-2">
                @Html.LabelFor(m => m.Tags)
            </div>
            <div class="col-sm-7">
                <div>
                    @Html.EditorFor(m => m.Tags)
                </div>
            </div>
            <div class="col-sm-3">
                <input type="submit" value="Add" class="btn btn-primary" formaction="@Url.Action("AddTag")" formmethod="post" />
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/prism.css">
<script src="~/Scripts/prism.js"></script>
