@model BlogWebsite.Models.ViewModel

@{
    ViewBag.Title = "Details";
}

<h1>@Model.post.Title</h1>
<div style="margin-top: 50px">
    <div class="row">
        <div class="col-md-8">
            <img src="~/image/tag.png" height="30" width="30" />
            @foreach (var item in Model.post.Tags)
            {
                <label>@item.Name |</label>
            }
        </div>
        <div class="col-md-4">
            <label>@Model.post.Date</label>
        </div>
    </div>
    <div class="row" style="margin-top: 50px">
        <div class="col-md-12"><p style="font-size:large">@Model.post.Text</p></div>
    </div>
    <div class="row" style="margin-top: 50px">
        <div class="col-md-6">
            <label>By : @Model.post.Author</label>
        </div>
        <div class="col-md-6">
            <p style="text-align:right"><a href="~/Posts/Index" class="btn btn-primary btn-lg">Back &raquo;</a></p>
        </div>
    </div>
</div>

@if (Model.comment.Count() != 0)
{
    <div>
        <h3>Comments</h3>
        <hr />
        <div class="container">
            <div class="panel panel-success">
                <div class="panel-heading">

                    @foreach (var i in Model.comment.Where(x => x.ParentID == 0))
                    {
                        <dl class="dl-horizontal" style="padding-top:5px">
                            <dt style="padding-top:5px">
                                Name:
                            </dt>

                            <dd style="padding-top:5px">
                                @i.Name
                            </dd>

                            <dt style="padding-top:5px">
                                Comment:
                            </dt>

                            <dd style="padding-top:5px">
                                @i.Comments
                            </dd>

                        </dl>

                        //The Reply to  Comment
                        foreach (var m in Model.comment.Where(x => x.ParentID == i.ID))
                        {
                            <dl class="dl-horizontal" style="padding-top:5px">
                                <dt style="padding-top:5px">
                                    Name:
                                </dt>

                                <dd style="padding-top:5px">
                                    @m.Name
                                </dd>

                                <dt style="padding-top:5px">
                                    Comment:
                                </dt>

                                <dd style="padding-top:5px">
                                    @m.Comments
                                </dd>

                            </dl>
                        }



                        <div class="container">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <label>Reply To This Comment</label><br />
                                    <form action="~/Posts/ReplyComment" method="post" class="form-horizontal">
                                        <div class="form-group">
                                            <label class="control-label col-sm-2">Name:</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="name" placeholder="Enter name" name="name">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-2">Comment:</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="comment" placeholder="Enter comment" name="comment">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <input type="hidden" name="Id" value="@i.PostID" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <input type="hidden" name="ParentID" value="@i.ID" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <button type="submit" class="btn btn-success">Post Comment</button>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>


                    }



                </div>
            </div>
        </div>
    </div>
}



<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <label>Post Comment</label><br />
            <form action="~/Posts/Comment" method="post" class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-sm-2">Name:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="name" placeholder="Enter name" name="name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Comment:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="comment" placeholder="Enter comment" name="comment">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="hidden" name="Id" value="@Model.post.ID" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">Post Comment</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>







