@model BlogWebsite.Models.ViewModel

@{
    ViewBag.Title = "Details";
}

<h1>@Model.post.Title</h1>
<div style="margin-top: 50px">
    <div class="row">
        <div class="col-md-8">
            <img src="~/image/tag.png" height="30" width="30" />
            @foreach (var item in Model.post.Tags)
            {
                <label>@item.Name |</label>
            }
        </div>
        <div class="col-md-4">
            <label>@Model.post.Date</label>
        </div>
    </div>
    <div class="row" style="margin-top: 50px">
        <div class="col-md-12"><p style="font-size:large">@Html.Raw(Model.post.Text.Substring(0,Model.post.Text.IndexOf("<pre")))</p></div>
        <pre class="language-javascript"><code>@Model.post.Text.Substring(Model.post.Text.IndexOf("<code>"), Model.post.Text.IndexOf("pub"))</code></pre>
    </div>
    <div class="row" style="margin-top: 50px">
        <div class="col-md-2">
            <label>Posted By : @Html.ActionLink(@Model.post.Author, "ShowProfile", "Account", new { name = @Model.post.Author }, null)</label>
        </div>
        <div class="col-md-8" style="display:inline">
            @if (Context.User.Identity.IsAuthenticated && User.Identity.Name != Model.post.Author)
            {
                using (Ajax.BeginForm("Like", "Posts", new { id = Model.post.ID, vote = "Upvote" }, new AjaxOptions { UpdateTargetId = "Vote", HttpMethod = "GET", InsertionMode = InsertionMode.Replace, OnComplete = "deactive1" }, new { @style = "display:inline-block" }))
                {
                    <input type="image" style="height:50px" src="~/image/Like1.jpg">
                }
                <label id="Vote" styrole="display:inline-block">@Model.post.Votes</label>
                using (Ajax.BeginForm("Like", "Posts", new { id = Model.post.ID, vote = "Downvote" }, new AjaxOptions { UpdateTargetId = "Vote", HttpMethod = "GET", InsertionMode = InsertionMode.Replace, OnComplete = "deactive2" }, new { @style = "display:inline-block" }))
                {
                    <input type="image" style="height:50px" src="~/image/unlike1.jpg">
                }
            }
        </div>
        <div class="col-md-2">
            <p style="text-align:right"><a href="~/Posts/Index" class="btn btn-primary btn-lg">Back &raquo;</a></p>
        </div>
    </div>
</div>

@if (Model.comment.Count() != 0)
{
    <div>
        <h3>Comments</h3>
        <hr />
        @foreach (var i in Model.comment.Where(x => x.ParentID == 0))
        {
            <div class="container">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <div class="" style="padding-top:5px;display:inline">
                            <div style="padding-top:5px">
                                <label style="">@i.Name : @i.Comments</label>
                                &nbsp;&nbsp;
                                On : @i.CommentTime
                            </div>
                        </div>
                        @foreach (var m in Model.comment.Where(x => x.ParentID == i.ID))
                        {

                            <div style="padding-top:5px;margin-left:50px">
                                <label> @m.Name :@m.Comments</label>
                                &nbsp;&nbsp;
                                On:@m.CommentTime
                            </div>
                        }
                        <dl>
                            <dt style="padding-top:2px;margin-left:100px">
                                @*<a href="#" class="Reply">Reply</a>*@
                                @Ajax.ActionLink("Reply", "ReplyForm", "Posts", new { ID = i.ID, PostID = Model.post.ID }, new AjaxOptions { UpdateTargetId = @i.ID.ToString(), HttpMethod = "GET", InsertionMode = InsertionMode.Replace })
                            </dt>
                        </dl>
                        <div id=@i.ID></div>
                    </div>
                </div>
            </div>
        }
    </div>
}
<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <label>Post Comment</label><br />
            <form action="~/Posts/Comment" method="post" class="form-horizontal">
                @*<div class="form-group">
                        <label class="control-label col-sm-2">Name:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" placeholder="Enter name" name="name">
                        </div>
                    </div>*@
                <div class="form-group">
                    <label class="control-label col-sm-2">Comment:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="comment" placeholder="Enter comment" name="comment">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="hidden" name="Id" value="@Model.post.ID" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">Post Comment</button>
                    </div>
                </div>

                <input type="hidden" name="CommentTime" value="@DateTime.Now" />

            </form>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/prism.css">
<script src="~/Scripts/prism.js"></script>







