@model IEnumerable<BlogWebsite.Models.Post>

@{
    ViewBag.Title = "Index";
}

<table style="margin-top:10px">
    <tr>
        <td>&nbsp; </td>
        <td style="margin-left:50px;">
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
        </td>
        <td>
            <form action="~/Posts/Search" method="post" style="margin-left:720px;">
                <input type="text" name="sr" value="" />
                <input type="submit" name="submit" value="Search By tags" class="btn btn-success " />
            </form>
        </td>
    </tr>
</table>



@foreach (var item in Model.OrderByDescending(x => x.ID))
{
<div class="jumbotron" style="margin-top:10px">
    <h2>@item.Title</h2>
    <div class="row">
        <div class="col-md-8">
            <img src="~/image/tag.png" height="20" width="20" />
            @foreach (var tag in item.Tags)
            {
            <label>
               @Html.ActionLink(@tag.Name,"Search","Posts", new {sr=@tag.Name}, null) |
            </label>
            }
        </div>
        <div class="col-md-4">
            <label>@item.Date</label>
        </div>
    </div>
    <div class="row">
        <p class="lead">@item.Text.Substring(0,100)...</p>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label style="font-size :smaller">Views: @item.Views</label>
        </div>
        <div class="col-md-3">
            <label style="font-size :smaller">Posted By: @item.Author</label>
        </div>
        <div class="col-md-6">
            <p style="text-align:right"><a href="~/Posts/Details/@item.ID" class="btn btn-primary btn-lg">View Post &raquo;</a></p>
        </div>
    </div>
</div>
}
