@model IEnumerable<BlogWebsite.Models.Post>

@{
    ViewBag.Title = "Index";
}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<table style="margin-top:10px">
    <tr>
        <td>&nbsp; </td>
        <td style="margin-left:50px;">
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
        </td>
        <td>
            <form action="~/Posts/Search" method="post" style="margin-left:720px;">
                <input type="text" name="sr" value="" />
                <input type="submit" name="submit" value="Search By tags" class="btn btn-success " />
            </form>
        </td>
    </tr>
</table>



@foreach (var item in Model.OrderByDescending(x => x.ID))
{
    <div class="jumbotron" style="margin-top:10px">
        <h2>@item.Title</h2>
        <div class="row">
            <div class="col-md-8">
               
                @foreach (var tag in item.Tags)
                {
                    <label>
                        <i class="fa fa-tags" aria-hidden="true"></i>
                        @Html.ActionLink(@tag.Name, "Search", "Posts", new { sr = @tag.Name }, null) |
                    </label>
                }
            </div>
            <div class="col-md-4">
                <i class="fa fa-calendar" aria-hidden="true"></i> <label>@item.Date</label>
            </div>
        </div>
        <div class="row">
            <p class="lead">@Html.Raw(@item.Text.Substring(0,item.Text.IndexOf("<pre")))</p>
        </div>

        <div class="row">
            <div class="col-md-2">
                <label style="font-size :smaller">Views: @item.Views</label>
                <i class="fa fa-eye" aria-hidden="true"></i>
            </div>
            <div class="col-md-2">
              
                <label style="font-size :smaller">Votes:
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                @item.Votes</label>
                
            </div>
            <div class="col-md-4">
                <label style="font-size :smaller">Posted By:@Html.ActionLink(@item.Author, "ShowProfile", "Account", new { name = @item.Author }, null)</label>
            </div>
            <div class="col-md-4">
                <p style="text-align:right"><a href="~/Posts/Details/@item.ID" class="btn btn-primary btn-lg">View Post &raquo;</a></p>
            </div>
        </div>
    </div>
}

<style type="text/css">
    .jumbotron {
        padding: 0.5em 0.6em;
    }
</style>
