@using Microsoft.AspNet.Identity
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right" >
            @if (Convert.ToInt32(Session["Notification"])!=0)
            {
                <li >
                    <a href='@Url.Action("Notification", "Account")' style="padding-right:0px">
                        <span class="fa-stack fa-1x">
                            <i class="fa fa-circle-o fa-stack-2x"></i>
                            <strong class="fa-stack-1x">
                                @Session["Notification"]
                            </strong>
                        </span>
                    </a>
                </li>
            }
            <li >  
               
                @Html.ActionLink(string.Format("Welcome ! {0}", Session["name"]), "ShowProfile", "Account", new { name = User.Identity.Name }, new { @style="padding-left:5px"})
            </li>
            <li>
                @Html.ActionLink("Logout", "Logout", "Account")
              
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
